<header *ngIf="userService.getUser() as user">
  <nav *ngIf="user.role!=='admin'" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngFor="let category of categoryService.categories">
        <li class="nav-item">
          <button type="button" routerLink='/products/searchCategory/{{category.id}}'>{{category.name}} </button>
        </li>
      </ul>
      <li class="nav-item dropdown">
        <button type="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">USUARIO
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <span class="dropdown-item" routerLink="/registrarse">Registrarse</span>
          <span class="dropdown-item" routerLink="/micuenta">Mi cuenta</span>
        </div>
      </li>
    </div>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline" (submit)="searchProducts()">
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="search" (keyup)="searchProducts()"
          (input)="searchProducts()" name="search" placeholder="Buscar Productos" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </nav>
  </nav>

  <nav *ngIf="user.role==='admin'" class="nav justify-content-end navbar-light bg-light">
    <li class="nav-item">
      <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Hola, {{[user.username]}} Bienvenid@ a nuestra
        web</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Productos
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <span class="dropdown-item" routerLink="">Todos</span>
        <span class="dropdown-item" routerLink="product/admin"><i class="fas fa-plus">Añadir</i></span>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Categorias
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <span class="dropdown-item" routerLink="categories/admin">Todas</span>
        <span class="dropdown-item" routerLink="/registrarse">Añadir</span>
        <span class="dropdown-item" routerLink="/micuenta">Eliminar</span>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Ordenes
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <span class="dropdown-item" routerLink="orders/admin">Todas</span>
        <span class="dropdown-item" routerLink="/registrarse">Añadir</span>
        <span class="dropdown-item" routerLink="/micuenta">Eliminar</span>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Usuarios
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <span class="dropdown-item" routerLink="user/admin">Todas</span>
        <span class="dropdown-item" routerLink="/registrarse">Añadir</span>
      </div>
      <a class="nav-item" class="nav-link" routerLink="" (click)="logOut()">Cerrar Sesión</a>
    </li>
  </nav>
</header>
<aside *ngIf="userService.getUser() as user">
  <div id="list-example" *ngIf="user.role==='customer'" class="list-group">
    <li class="nav-item">
      <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Hola, {{[user.username]}} Bienvenid@ a nuestra
        web</a>
    </li>
    <a class="list-group-item list-group-item-action" href="#list-item-1">Mi Perfil</a>
    <a class="list-group-item list-group-item-action" href="#list-item-2">Mis Pedidos</a>
    <a class="nav-item" class="nav-link" routerLink="" (click)="logOut()">Cerrar Sesión</a>
  </div>
</aside>
