.header-wrapper{
    background: burlywood;
    height: 100px;
    position: relative;
    z-index: 99999;
    box-shadow: 0 3px 3px rgba(50, 50, 50, 0.3);
    display: flex;
    justify-content: space-between;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
        .button {
        background: rgb(223, 117, 20);
        border-style: solid;;
        border-radius: 4px;
        color:white;
        padding: 5px 25px;
        margin: 4px 2px;
        cursor: pointer;
    }
}
