<h1>
  Bienvenido tu email {{email}} ha sido confirmado!
</h1>



<!-- 
<div class="container">
  <div class="barra">
    barra de la izq
    <p>datos</p>
    <p>pedidos</p>
    <p>otras cosas</p>
  </div>
  <div class="datos">
    los datos del usuario
  </div>
</div>


.container {
  display:grid;
  grid-template-columns: 20% 80%

  .barra {
    background-color: green;
    display: flex;
    flex-direction: column;
  }

  .datos {
    display: flex;
    justify-content: center;
    align-items:center;
  }  
} -->