<div>
  <form action="">
    <label for="fname">Nombre del producto</label>
    <input type="text" id="fname" name="firstname" placeholder="nombre..">
    <label for="lname">Imagen del producto</label>
    <input type="text" id="lname" name="lastname" placeholder="imagen..">
    <label for="country">Categoría</label>
    <select id="country" name="country">
      <option value="australia">Pan</option>
      <option value="canada">Cafe</option>
      <option value="usa">Dulce</option>
      <option value="australia">Desayunos</option>
      <option value="canada">Zumos</option>
      <option value="usa">Infusiones</option>
    </select>
    <label for="fname">Precio</label><br>
    <input type="text" id="fname" name="firstname" placeholder="precio.."><br>
    <input type="submit" (click)="insertProduct(products)" value="Submit">
  </form>
</div>
